/* Header.css */

/* Navbar container styles */
.navbar {
  padding: .5rem 0;
}

/* Logo styles */
.header-logo {
  height: 40px;
}

/* Navbar toggler styles */
.navbar-toggler {
  border: none;
  background-color: transparent;
  color: #fff;
  font-size: 1.25rem;
}

/* User info styles */
.user-info {
  display: flex;
  align-items: center;
  justify-content: space-between; /* distributes the items along the line */
  gap: 5px; /* gives a small gap between items */
}

.user-info .username {
  color: #fff;
   
}

.user-info .button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #FF0000 !important;
  border-color: #FF0000 !important;
  color: #FFFFFF !important;
  visibility: visible !important;
  border-radius: 50% !important;
  width: 40px;
  height: 40px;
}

 
/* On smaller screens */
@media screen and (max-width: 768px) {
  .navbar .navbar-brand {
    font-size: 1.2rem;
  }

  .nav-link {
    font-size: 1rem;
  }

  .navbar h6 {
    font-size: 0.8rem;
    margin-right: 10px;
  }
}
